@page "/sistemas"

@inject SistemasBLL sistemasBLL

<EditForm Model="sistemas">
    <DataAnnotationsValidator />
    <div class="shadow bg-white rz-border-radius-4 shadow d-block p-2 border border-4">

        <div class="card-header text-center">
            <h3>Consulta Sistema</h3>
        </div>

        <form class="card-body">
            <div>
                <div class="row">
                    <div class="col">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0">Elija una Opción</option>
                            <option value="1">SistemaId</option>
                            <option value="2">Descripción</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="input-group d-flex align-items-end">
                            <label>Buscar</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @bind="Criterio" />
                                <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">
                                    <i class="oi oi-magnifying-glass" /> Buscar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped border-primary">
            <thead class="thead">
                <tr class="table-info shadow text-center border-primary">
                    <th>SistemaId</th>
                    <th>Descripción</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sistema in listaSistemas)
                {
                    <tr class="shadow text-center border border-3">
                        <td>@sistema.SistemaId</td>
                        <td>@sistema.Descripción</td>
                        <td><a href="sistema/@sistema.SistemaId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 
</EditForm>

@code {

    public Sistemas sistemas { set; get; } = new Sistemas();

    public string? Filtro;

    public string? Criterio;

    public List<Sistemas> listaSistemas { get; set; } = new List<Sistemas>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public async Task Buscar()
    {
        listaSistemas = await sistemasBLL.GetSistemas(o => true);

        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    listaSistemas = await sistemasBLL.GetSistemas(o => true);
                    break;
                case "1":
                    listaSistemas = await sistemasBLL.GetSistemas(o => o.SistemaId.ToString() == (Criterio));
                    break;
                case "2":
                    listaSistemas = await sistemasBLL.GetSistemas(o => o.Descripción!.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            listaSistemas = await sistemasBLL.GetSistemas(o => true);
        }
    }

}