################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/**
/obj/**
/.vs/**
/.vs/PF2022_03_BlazorApp/**
/obj/Debug/net6.0/**
