@page "/cerrartickets"
@page "/cerrartickets/{ticketId:int}"

@inject TicketsBLL ticketsbll
@inject NotificationService notificacion


<EditForm Model="ticket" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card shadow-lg">
        <div class="d-block p-2 border border-4">
            <div class="card-header">
                <h1>Cerrar Tickets</h1>
            </div>

            <div class="border border-4 card card-body">
                @*TicketId*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label col-sm-4 d-flex justify-content-center align-items-center"> TicketId </label>
                            <div class="input-group">
                                <InputNumber @bind-Value="ticket.TicketId" class=" rz-border-radius-4 shadow form-control col-4" />
                                <button type="button" class="btn btn-primary input-group-text"
                                        @onclick="Buscar">
                                    <i class="oi oi-magnifying-glass" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-6">
                <label class="control-label col-sm-4 d-flex justify-content-center align-items-center"> Estado </label>
                <InputText readonly="true" class=" rz-border-radius-4 shadow form-control" @bind-Value="ticket.Estado" />
                <ValidationMessage For="@(()=> ticket.Estado)" />
            </div>
            <p>Solo Presionar el boton si el estado del ticket se encuentra "En Proceso"</p>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <div class="btn-group" role="group">
            <button type="submit" class="rz-border-radius-4 shadow border border-4 btn btn-primary"
                    @onclick="Guardar">
                <i class="oi oi-document" />
                Atendido
            </button>
        </div>
    </div>
</EditForm>



@code {
    [Parameter]
    public int ticketId { get; set; }

    public Tickets ticket { get; set; } = new Tickets();
    public DateTime FechaActual { get; set; } = DateTime.Now;


    protected override async Task OnInitializedAsync()
    {
        ticket.Fecha = FechaActual;

        if (ticketId > 0)
        {
            this.ticket.TicketId = ticketId;
            await this.Buscar();
        }
    }
    public async Task Buscar()
    {
        if (ticket.TicketId > 0)
        {
            var encontrado = await ticketsbll.Buscar(ticket.TicketId);

            if (encontrado != null)
            {
                this.ticket = encontrado;
            }
        }
    }
    public void Nuevo()
    {
        ticket = new Tickets();

    }
    public async Task Guardar()
    {
        bool guardo;

        if (!Validar())
        {
            Nuevo();
            notificacion.ShowNotification("Error el ticked que intenta cerrar ha sido atendido .", NotificationSeverity.Error);
        }
        else
        {

            ticket.Estado = "Atendido";
            guardo = await ticketsbll.Guardar(ticket);

            if (guardo)
            {
                Nuevo();
                notificacion.ShowNotification("El Ticket ha sido atendido.", NotificationSeverity.Success);
            }
        }
    }

    public bool Validar()
    {
        if (ticket.Estado == "Atendido" || ticket.Estado == "Pendiente")
        {
            return false;
        }
        else
        {
            return true;
        }
    }

}
