@page "/ticket"
@page "/ticket/{ticketsId:int}"

@inject TicketsBLL tiketsbll
@inject NotificationService notificationService

<PageTitle>Tickets</PageTitle>


<div class="container">


    <h1>Tickets</h1>

    <div class="row">

        <div class="rz-border-radius-4 shadow  card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/R.a2a7019b860b66865dd71a266d9b1bb2?rik=1IvSjWQ3K%2fa7Wg&riu=http%3a%2f%2fdefinicion.mx%2fwp-content%2fuploads%2f2014%2f09%2fticket-380x304.jpg&ehk=fNsmpueaA4fgnYKL2CO6F1tHocwl5Nc9nj1%2fY19bhAI%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" class="card-img-top" alt="la imagen no esta Disponible">
            <div class="card-body">
                <h5 class="card-title">Crear Tickets</h5>
                <p class="card-text">Para crear, modificar o eliminar ticket solo presione el boton de  aquí abajo </p>
                <br />
                <br />
                <a href="crearticket" class="rz-border-radius-4 shadow  btn btn-success">Crear ahora</a>
            </div>
        </div>

        <div class="rz-border-radius-4 shadow card" style="width: 18rem;">
            <img src="https://st2.depositphotos.com/3643473/6206/i/450/depositphotos_62065997-stock-photo-person-with-big-magnifier-glass.jpg" class="card-img-top" alt="la imagen no esta Disponible">
            <div class="card-body">
                <h5 class="card-title">Consulta de tickets</h5>
                <p class="card-text">Si desea consultar acerca de los tickets solo haga click en el boton de abajo </p>
                <br />
                <a href="C_tickets" class="rz-border-radius-4 shadow  btn btn-primary">Consultar</a>
            </div>
        </div>

        <div class="rz-border-radius-4 shadow  card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.1BYRZP7IDPPvS9tjdcs3BAAAAA?pid=ImgDet&rs=1" class="card-img-top" alt="la imagen no esta Disponible">
            <div class="card-body">
                <h5 class="card-title">Cerrar Ticktes</h5>
                <p class="card-text">Una vez se haya atendido el tickets es importante cambiar el estado del mismo ha Atendido</p>
                <a href="cerrartickets" class="rz-border-radius-4 shadow  btn btn-danger "> Cerrar Tickets</a>
            </div>
        </div>
    </div>

</div>


@code {
    [Parameter]
    public int ticketsId { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}`