@page "/"

<div class="d-flex justify-content-center">
    <div role="group">
        <img class="shadow-lg p-3 mb-5 bg-primary rounded rz-border-radius-10 border border-4" src="https://belleneige.com/wp-content/uploads/2019/08/136_tickets-movie-cinema-coupon-512.png"
        width="300px" />
    </div>
</div>

<div class="text-center justify-content-center">
    <h1><BSBadge class="rz-border-radius-10 border border-4" Color="BSColor.Primary" IsPill="true">FINAL PROJECT</BSBadge></h1>
</div>
