<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FINAL PROJECT</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <RadzenPanelMenu class="rz-shadow-3">
            <RadzenPanelMenuItem class="bg-info" Text="Registros" Icon="app_registration">
                <RadzenPanelMenuItem Text="Cliente" Path="R_Clientes" Icon="account_circle" />
                <RadzenPanelMenuItem Text="Técnico" Path="Registro Técnico" Icon="engineering" />
                <RadzenPanelMenuItem Text="Tickets" Path="ticket" Icon="view_agenda" />
                <RadzenPanelMenuItem Text="Prioridad" Path="R_Prioridades" Icon="priority_high" />
                <RadzenPanelMenuItem Text="Recordatorios" Path="Recordatorio" Icon="announcement" />
                <RadzenPanelMenuItem Text="Sistemas" Path="sistema" Icon=" computer" />
            </RadzenPanelMenuItem>

            <RadzenPanelMenuItem class="bg-info" Text="Consultas" Icon="screen_search_desktop">
                <RadzenPanelMenuItem Text="Clientes" Path="C_Clientes" Icon="groups" />
                <RadzenPanelMenuItem Text="Técnicos" Path="Consulta Técnico" Icon="groups" />
                <RadzenPanelMenuItem Text="Prioridades" Path="C_Prioridades" Icon="low_priority" />
                <RadzenPanelMenuItem Text="Recordatorios" Path="recordatorios" Icon="groups" />
                <RadzenPanelMenuItem Text="Sistemas" Path="sistemas" Icon="low_priority" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
