<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto Aplicada1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
g        <RadzenPanelMenu class="rz-shadow-3">
            <RadzenPanelMenuItem Text="Registros" Icon="app_registration">
                <RadzenPanelMenuItem Text="Cliente" Path="R_cliente" Icon="account_circle" />
                <RadzenPanelMenuItem Text="Tiket" Path="tiket" Icon="view_agenda" />
                <RadzenPanelMenuItem Text="Prioridad" Path="R_Prioridades" Icon="priority_high" />
                <RadzenPanelMenuItem Text="Recordatorios" Path="R_Recordatorios" Icon="view_agenda" />
                <RadzenPanelMenuItem Text="Sistemas" Path="sistema" Icon=" " />
            </RadzenPanelMenuItem>

            <RadzenPanelMenuItem Text="Consultas" Icon="screen_search_desktop">
                <RadzenPanelMenuItem Text="Clientes" Path="C_cliente" Icon="groups" />
                <RadzenPanelMenuItem Text="Prioridades" Path="C_Prioridades" Icon="low_priority" />
                <RadzenPanelMenuItem Text="Sistemas" Path="sistemas" Icon="low_priority" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
